@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.esperienza,
.content-legge {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.esperienza.appear,
.content-legge.appear {
  opacity: 1;
  transform: scale(1);
}
.animation-skills {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

/* Button Form*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
