/* Landscape phones and down*/
@mixin xs{
  @media (max-width: 576px){
    @content;
  }
}

/* Landscape phone to portrait tablet*/
@mixin sm{
  @media (max-width: 767px){
    @content;
  }
}

/*Portrait tablet to landscape and desktop*/
@mixin md{
  @media (min-width: 768px) and (max-width: 992px){
    @content;
  }  
}

/* Large desktop*/
@mixin lg{
  @media (min-width: 993px) and (max-width: 1200px){
    @content;
  }  
}


