.mb-5{
  margin-bottom: 5rem !important;
}

.mb-2{
  margin-bottom: 2rem !important;
}

/*Progress bar*/

.pb9{
  width: 90%;
}

.pb8{
  width: 80%;
}
.pb7{
  width: 70%;
}
.pb6{
  width: 60%;
}
.pb5{
  width: 50%;
}

.dot-pb9{
  left: calc(90% - 5px);
}

.dot-pb8{
  left: calc(80% - 5px);
}
.dot-pb7{
  left: calc(70% - 5px);
}
.dot-pb6{
  left: calc(60% - 5px);
}
.dot-pb5{
  left: calc(50% - 5px);
} 