@import "reset";
@import "bases";
@import "utils";
@import "classes";
@import "animation";
@import "media-queries";

html {
  font-size: 56.25%;
  @include lg {
    font-size: 50%;
  }
  @include md-lt {
    font-size: 50%;
  }
  @include sm {
    font-size: 50%;
  }
  @include xs {
    font-size: 50%;
  }
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr / 400px auto;
  @include lg {
    grid:
      "picture header" auto
      "aside main" 1fr / 360px auto;
  }
  @include md-lt {
    grid:
      "header header " auto
      "picture aside " auto
      "main main" auto / 300px auto;
  }
  @include sm {
    grid:
      "header" auto
      "picture" auto
      "aside" auto
      "main" auto / auto;
  }
  @include xs {
    grid:
      "header" auto
      "picture" auto
      "aside" auto
      "main" auto / auto;
  }
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: white;
  padding: 8rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  @include sm {
    padding: 4rem;
  }
  @include xs {
    padding: 5rem 0rem;
  }
  h1 {
    font-size: 5rem;
    margin: 0;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include md-lt {
      font-size: 5rem;
      letter-spacing: 2.5rem;
    }
    @include sm {
      font-size: 3rem;
      letter-spacing: 2rem;
    }
    @include xs {
      font-size: 3rem;
      letter-spacing: 1rem;
      margin: 0;
    }
  }
  p {
    letter-spacing: 0.5rem;
    @include sm {
      margin: 0;
    }
  }
  span {
    display: inline-block;
    animation: fadeIn 2s;
    font-family: "Pangolin", cursive;
  }
}

.picture {
  grid-area: picture;
  padding: 4.5rem;
  background: var(--background);
  transition: 1s ease-in-out;
  @include lg {
    padding: 6rem;
  }
  @include md-lt {
    padding: 6rem;
  }
  @include sm {
    padding: 14rem;
  }
  @include xs {
    padding: 10rem;
  }
  img {
    border-radius: 50%;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  padding: 5rem;
  animation: fadeIn 1s;
  @include md {
    padding: 3rem 5rem;
    animation: none;
  }
  @include sm {
    padding: 3rem 8rem;
    animation: none;
  }
  @include xs {
    padding: 3rem 5rem;
    animation: none;
  }
  .block {
    margin-bottom: 5rem;
    h3 {
      cursor: default;
      margin-bottom: 0;
      font-size: 1.3rem;
    }
    p {
      margin: 0 0 2rem 0;
      font-style: italic;
      @include xs {
        font-size: 1.5rem;
      }
    }
  }
}

main {
  grid-area: main;
  padding: 5rem;
  animation: fadeIn 1s;
  @include sm {
    padding: 5rem 2rem;
  }
  @include xs {
    padding: 5rem 2rem;
  }
  h2 {
    margin-bottom: 6rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
  .formazione {
    animation: fadeIn 1s;
  }
  .experience {
    display: flex;
    margin-bottom: 5rem;
    .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
      }
    }
    .content {
      padding: 0 2rem;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
  .legge {
    margin-top: 12rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    @include lg {
      margin-top: 10rem;
      font-size: 1.3rem;
    }
    @include md-lt {
      margin-top: 10rem;
      font-size: 1.3rem;
    }
    @include sm {
      margin-top: 10rem;
      font-size: 1.3rem;
    }
    @include xs {
      margin-top: 8rem;
      font-size: 1.2rem;
    }
  }
}
