@import "reset";
@import "bases";
@import "utils";
@import "classes";
@import "animation";
@import "media-queries";

html{
  font-size: 56.25%;
  @include lg{
    font-size: 50%;
  }
  @include md{
    font-size: 50%;
  }
  @include sm{
    font-size: 50%;
  }
  @include xs{
  font-size: 50%;
  }
}

.grid-container{
  min-height: 100vh;
  display: grid;
  grid: 
  "picture header" auto
  "aside main" 1fr
  "footer footer" / 350px auto;
  @include lg{
    grid: 
    "picture header" auto
    "aside main" 1fr
    "footer footer" / 320px auto;
  }
  @include md{
    grid: 
    "header header" auto
    "picture main" auto
    "aside aside" auto
    "footer footer" / 250px auto;
  }
  @include sm{
    grid: 
    "header" auto
    "main" auto
    "picture" auto
    "aside" auto
    "footer" auto /  auto;
  }
  @include xs{
    grid: 
    "header" auto
    "main" auto
    "picture" auto
    "aside" auto
    "footer" auto / auto;
  }
}

header{
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: white;
  padding: 8rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include sm{
    padding: 4rem ;
  }
  @include xs{
    padding: 5rem 2rem;
  }
  h1{
    font-size: 5rem;
    margin: 0;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include lg{
      letter-spacing: 2.5rem;
      margin: 0;
    }
    @include md{
      font-size: 4rem;
      letter-spacing: 2rem;
      margin: 0;
    }
    @include sm{
      font-size: 3rem;
      letter-spacing: 1.5rem;
      margin: 0;
    }
    @include xs{
      font-size: 3rem;
      letter-spacing: 1rem;
      margin: 0;
    }
  }
  p{
    letter-spacing: 0.5rem;
    @include sm{
      margin: 0;
    }
  }
  span{
    display: inline-block;
    animation: fadeIn 3s;
    font-family: 'Pangolin', cursive;
  }
}

.picture{
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  @include lg{
    padding:  6rem;
  }
  @include md{
    padding:  5rem;
  }
  @include sm{
    padding:  10rem;
  }
  @include xs{
    padding: 10rem;
  }
  img{
    border-radius: 50%; 
  }
}

aside{
  grid-area: aside;
  background: var(--background);
  padding: 5rem;
  @include xs{
    padding: 3rem 2rem;
  }
  .block{
    margin-bottom: 5rem;
    h3{
      margin-bottom: 0;
      font-size: 1.3rem;
    }
    p{
      margin: 0 0 2rem 0;
      font-style: italic;
      @include xs{
        font-size: 1.5rem;
      }
    }
    .bar-skill{
      cursor: pointer;
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative;
      .bar-skill-progress{
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        background: var(--light);
      }
      .bar-skill-dot{
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        top: -2.5px;
        transform: rotate(45deg);
      }
    }
    .stars-container{
      display: flex;
      margin: 2rem 0 3rem 0;
      color: var(--hint);
      i{
        font-size: 1.5rem;
        margin: 0 1rem;
      }
    }
    .social-container{ 
      margin-bottom: 1rem;
      padding: 1rem 1rem;
      border-radius: 5px;
      transition: all 0.3s;
      &:hover{
        background: var(--border);
        i{
          color: var(--primary);
          transform: scale(1.3);
          transition: all 0.3s;
        }
      }
      a{
        display: flex;
        flex-direction: row;
        align-items: center;
        i{
          align-self: first baseline;
          margin-right: 1rem;
          font-size: 2rem;
        }
      }
    }
  }
}

main{
  grid-area: main;
  padding: 5rem;
  @include sm{
    padding: 5rem 1.5rem;
  }
  @include xs{
    padding: 5rem 1.5rem;
  }
  h2{
    margin-bottom: 6rem;
  }
  p{
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
  .experience{
    display: flex;
    margin-bottom: 5rem;
    .timeline{
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p{
        margin: 0;
      }
    }
    .content{
      padding: 0 2rem;
      h3{
        margin: 0;
      }
      p{
        margin: 0;
      }
    }
  }
  .legge{
    margin-top: 15rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    @include md{
      margin: 0rem;
      font-size: 1.5rem;
    }
    @include sm{
      margin: 0rem;
      font-size: 1.5rem;
    }
    @include xs{
      margin: 0rem;
      font-size: 1.2rem;
    }
  }
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  grid-area: footer;
  padding: 5rem;
  background: var(--text);
  @include sm{
    padding: 5rem 0rem;
  }
  @include xs{
    padding: 5rem 0rem;
  }
  h2{
    margin-bottom: 3rem;
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
      margin-bottom: 2rem;
      outline: none;
      border: 0;
      min-width: 250px;
      padding: 1rem;
      line-height: 2rem;
    }
    textarea{
      resize: none;
      outline: none;
      border: 0;
      min-width: 250px;
      padding: 1rem;
      line-height: 2rem;
    }
    button{
      margin-top: 2rem;
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.3s;
      &:hover{
        opacity: 0.8;
      }
      .postfix{
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        min-width: 250px;
        span{
          margin-left: 1rem;
        }
      }
    }
  }
}