:root{
  --font-family: 'IBM Plex Mono', monospace;

  //Colors

  //--light: #00c3ff;
  --light: #40739e;
  //--primary: #2071e7;
  --primary: #34495e;
  // --dark: #2980b9;
  --dark: #2c3e50;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}

